#
# requirements-win.txt - Python requirements for running nrtest on Win32/Win64
#
# Date Created:  10/17/2019
# Date Updated:  11/26/2019
#
# Author: Michael E. Tryby
#         US EPA ORD/CESER
#
# Useful for configuring a python environment to run nrtests on swmm.
#
# usage:
#   pip install -r tools/requirements-win.txt
#

nrtest

-f https://github.com/SWMM-Project/swmm-python/releases/download/v0.6.0-rc.1/swmm_toolkit-0.5.0-cp37-cp37m-win_amd64.whl
swmm-toolkit

-f https://github.com/SWMM-Project/swmm-python/releases/download/v0.6.0-rc.1/nrtest_swmm-0.6.0-py3-none-any.whl
nrtest-swmm
