#
# requirements.txt
#
# Date Created:  10/17/2019
# Date Modified:
#
# Author: Michael E. Tryby
#         US EPA ORD/CESER
#
# Useful for configuring a python environment to run nrtests on swmm.
#
# usage:
#   pip install -r tools/requirements.txt
#

nrtests

-f https://github.com/michaeltryby/swmm-python/releases/download/v0.3.0-dev2/swmm.output-0.4.0.dev2-cp36-cp36m-win_amd64.whl
swmm.output


#nrtest-swmm
